<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Vue.js</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>Filtros</h1>

    <main>
        <label for="busqueda">Busqueda:</label>
        <input v-model="busqueda" name="busqueda" id="busqueda" type="text" placeholder="buscar juego">
        <ul>
            <li v-for="juego in buscarJuego">
                {{ juego.titulo }}
            </li>
        </ul>

        <label for="minimo">Minimo:</label>
        <input v-model="minimo" name="minimo" id="minimo" type="range" min ="0" max="10">

        <pre>{{$data}}</pre>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/main.js"></script>
</body>

</html>